/* All styles created for demo purposes only, you may not need this for your project */
.demo-button button {
    margin-bottom: 5px;
}

.demo-icons li {
    margin-bottom: 50px;
    text-align: center;
}

.demo-icons .lnr,
.demo-icons .fa {
    font-size: 28px;
}

.demo-icons .cssclass {
    display: block;
    margin-top: 5px;
    margin-left: 5px;
}

input[type="checkbox"].switch_1{
    font-size: 18px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 50px;
    height: 30px;
    background: #ddd;
    border-radius: 3em;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
    background: #0ebeff;
}

input[type="checkbox"].switch_1:after{
    position: absolute;
    content: "";
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    background: #fff;
    -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
    box-shadow: 0 0 .25em rgba(0,0,0,.3);
    -webkit-transform: scale(.7);
    transform: scale(.7);
    left: 0;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
    left: calc(100% - 1.5em);
}


/*# sourceMappingURL=demo.css.map */